
.grid {}

.column {
	float: left;
}

.column-small-05  { width: 5%;   }
.column-small-10  { width: 10%;  }
.column-small-15  { width: 15%;  }
.column-small-20  { width: 20%;  }
.column-small-25  { width: 25%;  }
.column-small-30  { width: 30%;  }
.column-small-35  { width: 35%;  }
.column-small-40  { width: 40%;  }
.column-small-45  { width: 45%;  }
.column-small-50  { width: 50%;  }
.column-small-55  { width: 55%;  }
.column-small-60  { width: 60%;  }
.column-small-65  { width: 65%;  }
.column-small-70  { width: 70%;  }
.column-small-75  { width: 75%;  }
.column-small-80  { width: 80%;  }
.column-small-85  { width: 85%;  }
.column-small-90  { width: 90%;  }
.column-small-95  { width: 95%;  }
.column-small-100 { width: 100%; }